.container {
	width: 98%;
}
.container .viz-container ul.nav-list,
.container .viz-container .viz {
	display: inline-block;
	width: 15%;
	vertical-align: top;
}
.container .viz-container .viz {
	width: 82%;
}
.container .viz-container ul.nav-list li {
	padding: 5px;
}
.container .viz-container ul.nav-list li .btn {
	padding:  10px;
	font-size: 12px;
	width: 100%;
	border-radius: 3px;
}